asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.4
django-database-url==1.0.3
gunicorn==18.0
mysqlclient==2.2.0
packaging==23.1
Pillow==10.0.0
psycopg2==2.9.7
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
validate-email==1.3
